<!DOCTYPE html>
<html ng-app="ListModule">

<head>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="css/estiloPersonalizado.css">
    <link rel="stylesheet" href="css/fontawesome/fontawesome-all.min.css">

    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script src="js/modulo.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-controller="ListController as $ctrl">

    <table border=1>
        <thead>
            <tr>
                <th>ITEM CODE</th>
                <th>ITEM NAME</th>
                <th>ITEM DESCRIPTION</th>
                <th>UNIT OF MEASURE</th>
                <th>AVAILABLE</th>
                <th>OPEN STOCK</th>
                <th>RESTRICT STOCK</th>
                <th>THRESHOLD</th>
                <th>ACTIVE</th>
                <th>EXCLUDE</th>
            </tr>
        </thead>
        <tr ng-repeat="item in filteredItems">
            <td> {{item.itemCode}} </td>
            <td> {{item.itemName}} </td>
            <td> {{item.itemDescription}} </td>
            <td> {{item.uom}} </td>
            <td> {{item.available}} </td>
            <td> {{item.openStock}} </td>
            <td> {{item.restrictStock}} </td>
            <td> {{item.threshold}} </td>
            <td> {{item.active}} </td>
            <td class="garbage" ng-click="excluir(item)"><i class="fas fa-trash-alt"></i></td>
        </tr>
    </table>
    <div data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage" data-max-size="maxSize"
        data-boundary-links="true"></div>

</body>

</html>